:root {
  --teal: #73CCA8;
  --ny-pink: #cc8173;
  --light-grey: #525e65;
  --light-grey-rgb: 82, 94, 101;
  --light-green :#DBE8D4;
  --dark-grey: #2d333b;
  --darker-grey: #222733;
  --darker-grey-rgb: 34,39,51;
  --border-radius: 4px;
}
/* ------------------------------------- */
/*  Load Montserrat font */
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Josefin Sans;
  src: url(../fonts/josefin-sans/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: Josefin Sans;
  src: url(../fonts/josefin-sans/JosefinSans-Thin.ttf);
  font-weight: 100;
}

html {
  font-size: 75%;
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: var(--darker-grey);
}

/* ------------------------------------- */
/* Font Styling */
h1,
h2,
h3,
h4,
p, a {
  font-family: Lato,sans-serif;
  color: var(--teal);
  letter-spacing: 1px;
  line-height: 1.4;
  padding: 0.4em 0em;
}

h1 {
  font-family: Josefin Sans,sans-serif ;
  font-size: 6rem;
  font-weight: 100;
  text-transform: uppercase;
  color: var(--ny-pink);
  padding: 0.2em 0em;
}

h2 { font-size: 2rem; }
h3 { font-size: 1.6rem;}
h4 { 
  color: var(--light-green);
  font-size: 1.4rem;
}
p {
  color: var(--light-green);
  font-size: 1.2rem;
}
a {
  color: var(--light-green);
  font-size: 1.2rem;
  cursor: pointer;
}

/* ------------------------------------- */
/* UTILS */
.border-round {
  border-radius: var(--border-radius);
}
.bg-pink {
  background-color: var(--ny-pink);
}
.display-inline-block {
  display: inline-block;
}

/* ------------------------------------- */
/* Header */

header.page-header {
  /* gradient background */
  background-image: linear-gradient(
    to bottom,
    var(--dark-grey),
    var(--light-grey)
  );
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  right: 0px;
}

p.page-title {
  /* gradient background */
  /* background-image: linear-gradient(
    to bottom,
    var(--dark-grey),
    var(--light-grey)
  ); */
  /* text-align: center;
  text-transform: uppercase;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0rem; */
  /* display: inline-block; */
  position: absolute;
  top: 0;
  z-index: 1001;
  width: 100%;
  font-size: 1.8rem ;
  color: var(--teal);
  text-align: center;
  text-transform: uppercase;
  /* position: relative;
  z-index: 1000; */
}

/* ------------------------------------- */
/* navigation bar */
.nav-bar {
  min-height: 100vh;
  width: 0px;
  background-color: var(--light-grey);
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}
.menu-icon {
  color: var(--light-green);
  width: 56px;
  height: 56px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.menu-icon-sm {
  color: var(--light-green);
  width: 56px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/*  hamburger */
#open-menu-lg{
  display: none;
}
#open-menu-sm {
  position: relative;
  z-index: 1010;
}
.menu-items {
  width: 240px;
}
.menu-item {
  width: 240px;
}
.menu-item p {
  display: inline;
  color: var(--light-green);
  line-height: 1;
  padding: 0px;
}

/* hover */
.menu-item:hover *, .menu-icon:hover, .menu-icon-sm:hover {
  color: var(--teal);
  cursor: pointer;
} 

/* anchor */
.anchor {
  position: relative;
}
.anchor a.anchor-tag {
  position: absolute;
  top: -56px;
}

/* ------------------------------------- */
/* main */

/* so it doesn't get hide behind the nav bar */
main {
  margin-top: -56px; 
}
/* dark background on every even section */
.main-section:nth-child(even) {
  background-color: var(--dark-grey);
}

/* darker background on every odd section */
.main-section:nth-child(odd) {
  background-color: var(--darker-grey);
}
.container {
  max-width: 1200px;
  margin: 0px auto;  /* centering horizontally */
}
.side-container {
  border-right: 1px solid var(--teal);
}
.content {
  width: 100%;
  padding: 0rem 1.5rem;
}

/* Titles on left or right sides of the vertical line */
.left-title {
  padding-right: 1.5rem;
  margin-bottom: 1em;
  position: relative;
}

.right-title {
  padding-left: 1.5rem;
  margin-bottom: 1em;
  position: relative;
}

/* ------------------------------------- */
/* banner */

.banner {
  text-align: center;
  height: 28rem;
}

/* ------------------------------------- */
/* profile section */

.profile {
  text-align: center;
}
.profile > * {
  padding: 0.5rem 0rem;
}
.profile h4 {
  color: var(--ny-pink);
}
.profile p {
  font-style: italic;
}
.profile .img-border {
  position: relative;
  width: 80%;
  max-width: 400px;
  padding-top: calc(min(80%, 400px));
  border-radius: 50%;
  margin-bottom: 1em;
}
.img-border {
  border: 1px solid var(--teal);
}
.img-border img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: calc(100% - 8px);
  border-radius: 50%;
  margin: auto;
}
.network-icon > li {
  padding: 0rem 0.5rem;
}

/* ------------------------------------- */
/* portfolios section */

.card {
  position: relative;
  border: 1px solid var(--light-grey);
  border-radius: var(--border-radius);
  padding: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

/* To stop blurring effect from spilling into the main area */
.card > article {
  overflow: hidden;
}

/* card title */
.card .card-title-container {
  padding: 0.6em 0.6em 0.6em 0em;
  border-radius: var(--border-radius);

  /* need dark background to improve contrast */
  background-color: rgba(var(--darker-grey-rgb), 0.75);
  box-shadow: 
    0px 0px 4px 1px rgba(var(--darker-grey-rgb), 0.75), 
    0px 0px 8px 4px rgba(var(--darker-grey-rgb), 0.5);
  position: absolute;
  top: 10%;
  left: -6px;
  z-index: 10;
}
.card .card-title {
  text-shadow: 0px 0px 4px var(--darker-grey);
  padding-left: 2rem;
}

/* image */
.card .card-img {
  width: 100%;
}
.card .card-img-overlay {
  /* add darken overlay when hovered over */
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  background-color: rgba(var(--darker-grey-rgb), 0.4);
  z-index: 4;
  cursor: pointer;
}

/* tags */
.card .card-tags {
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
}
.card .card-tag {
  margin-right: 1rem;
  text-shadow: 0px 0px 10px var(--teal);
}
.card .card-code {
  position: relative;
  z-index: 100;
  margin-top: 1rem;
  padding: 0px 1rem;
  border: 1px solid var(--teal);
  border-radius: var(--border-radius);
}

/* effect on hover */
.card:hover {
  border: 1px solid var(--teal);
  box-shadow: 0px 0px 4px 4px var(--light-grey);
  transform: translate(-1px,-1px);
}
.card:hover .card-img{
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
.card:hover .card-img-overlay{
  display: block;
}
.card .card-code:hover {
  cursor: pointer;
}


/* ------------------------------------- */
/* Footer */
.page-footer {
  background-color: var(--darker-grey);
  padding: 1em;
}

.page-footer p {
  text-align: center;
}

/* ------------------------------------- */
/* Media queries */

/* Pads */
@media screen and (max-width: 992px) {
  html {
    font-size: 80%;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  html {
    font-size: 75%;
  }

  p.nav-title {
    width: 100%;
  }

  /* Navigation */
  .nav-bar {
    width: 200px;
    min-height: 100vh;
    flex-direction: column;
    
    /* to hide beneath the page title */
    position: absolute;
    z-index: 2000;
    top: -16rem; 
    left: 0rem;
    background-color: var(--light-grey);
    transition: top 0.5s ease-in-out; /* change top to slide it down */
  }

  #main-menu-toggle {
    display: inline-block;
  }

  .nav-bar ul {
    display: flex;
    height: unset; /* Need to reset the height to fit the content */
    width: 100%;
    flex-direction: column; /* need to change flex direction to column */
  }

  .menu-item {
    width: 100%; 
    padding: 0.6em 0em;
    position: relative;
  }

  .menu-item::after {
    /* adding separator */
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    border-bottom: 2.8px solid var(--dark-grey);
    z-index: 2;
  }

  .menu-item a {
    margin: 0em;
  }
  
  .menu-item a:hover {
    border: none;
  }

  .menu-item a p {
    text-align: center;
  }

  /* interaction with hamberger icon */
  #main-menu:target {
    top: 4.6rem; /* this will slide the menu down from under the page title */
  }

  #main-menu:target .close-menu{
    display: inline-block;
  }


  /*  ----------------------- */
  /*  Main body */
   h1 {
    font-size: 4rem ;
  }

  .side-container {
    border: none;
  }

  .side-container header {
    justify-content: flex-start;
  }

  .left-title {
    padding-right: 0rem;
    padding-left: 1rem;
  }
}

