:root {
  --teal: #73CCA8;
  --ny-pink: #cc8173;
  --light-grey: #525e65;
  --light-grey-rgb: 82, 94, 101;
  --light-green :#DBE8D4;
  --dark-grey: #2d333b;
  --darker-grey: #222733;
  --darker-grey-rgb: 34,39,51;
  --border-radius: 4px;
}
/* ------------------------------------- */
/*  Load Montserrat font */
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Josefin Sans;
  src: url(../fonts/josefin-sans/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: Josefin Sans;
  src: url(../fonts/josefin-sans/JosefinSans-Thin.ttf);
  font-weight: 100;
}

html {
  font-size: 75%;
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: var(--darker-grey);
}

/* ------------------------------------- */
/* Font Styling */
h1,
h2,
h3,
h4,
p, a {
  font-family: Lato,sans-serif;
  color: var(--teal);
  letter-spacing: 1px;
  line-height: 1.4;
  padding: 0.4em 0em;
}

h1 {
  font-family: Josefin Sans,sans-serif ;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--ny-pink);
  padding: 0.2em 0em;
}

h2 { font-size: 2rem; }
h3 { font-size: 1.6rem;}
h4 { 
  color: var(--light-green);
  font-size: 1.4rem;
}
p {
  color: var(--light-green);
  font-size: 1.2rem;
}
a {
  color: var(--light-green);
  font-size: 1.2rem;
  cursor: pointer;
}

/* ------------------------------------- */
/* UTILS */
.border-round {
  border-radius: var(--border-radius);
}
.bg-pink {
  background-color: var(--ny-pink) !important ;
}
.display-inline-block {
  display: inline-block;
}

/* ------------------------------------- */
/* Header */

header.page-header {
  /* gradient background */
  background-image: linear-gradient(
    to bottom,
    var(--dark-grey),
    var(--light-grey)
  );
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 56px;
  transition: left 0.5s ease-in-out;
}

p.page-title {
  width: 100%;
  font-size: 1.4rem ;
  color: var(--teal);
  text-align: center;
  text-transform: uppercase;
}

/* ------------------------------------- */
/* navigation bar */
.nav-bar {
  min-height: 100vh;
  width: 0px;
  background-color: var(--light-grey);
  position: fixed;
  z-index: 20;
  top: 0px;
  left: 0px;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}
.menu-icon {
  color: var(--light-green);
  background-color: var(--light-grey);
  width: 56px;
  height: 56px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.menu-icon-sm {
  color: var(--light-green);
  background-color: var(--light-grey);
  width: 56px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/*  hamburger */
#open-menu-lg{
  position: absolute;
  top: 0px;
  z-index: 22;
}
#open-menu-sm {
  position: absolute;
  top: 0px;
  z-index: 1010;
}
#close-menu {
  position: absolute;
  top: 0px;
  z-index: 23;
}
.first-menu {
  margin-top: 64px;
}
.menu-items {
  width: 240px;
}
.menu-items > .bg-pink {
  padding-left: 56px;
}
.menu-item {
  width: 240px;
}
.menu-item p {
  display: inline;
  color: var(--light-green);
  line-height: 1;
  padding: 0px;
}

/* hover */
.menu-item:hover *, .menu-icon:hover, .menu-icon-sm:hover {
  color: var(--teal);
  cursor: pointer;
} 

/* anchor */
.anchor {
  position: relative;
}
.anchor a.anchor-tag {
  position: absolute;
  top: -56px;
}

/* ------------------------------------- */
/* main */

/* so it doesn't get hide behind the nav bar */
main {
  background-color: var(--darker-grey);
  position: relative;
  z-index: 10;
  margin-top: 56px; 
  margin-left: 0px;
  transition: margin-left 0.5s ease-in-out;
}


/* dark background on every even section */
.main-section:nth-child(even) {
  background-color: var(--dark-grey);
}

/* darker background on every odd section */
.main-section:nth-child(odd) {
  background-color: var(--darker-grey);
}
.container {
  max-width: 1200px;
  padding: 3rem 0rem;
  margin: 0px auto;  /* centering horizontally */
}
.content {
  width: 100%;
  padding: 0rem 1.5rem;
}

/* Titles on left or right sides of the vertical line */
.left-title {
  padding-left: 1.5rem;
  margin-bottom: 1em;
  position: relative;
}

.right-title {
  padding-left: 1.5rem;
  margin-bottom: 1em;
  position: relative;
}

/* ------------------------------------- */
/* banner */

.banner {
  text-align: center;
  height: 28rem;
}

/* ------------------------------------- */
/* profile section */

.profile {
  text-align: center;
}
.profile > * {
  padding: 0.5rem 0rem;
}
.profile h4 {
  color: var(--ny-pink);
}
.profile p {
  font-style: italic;
}
.profile .img-border {
  position: relative;
  width: 80%;
  max-width: 400px;
  padding-top: calc(min(80%, 400px));
  border-radius: 50%;
  margin-bottom: 1em;
}
.img-border {
  border: 1px solid var(--teal);
}
.img-border img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: calc(100% - 8px);
  border-radius: 50%;
  margin: auto;
}
.network-icon > li {
  padding: 0rem 0.5rem;
}


/* ------------------------------------- */
/* Footer */
.page-footer {
  background-color: var(--darker-grey);
  padding: 1em;
}

.page-footer p {
  text-align: center;
}

/* ------------------------------------- */
/* Media queries */


/* Tablet */
@media screen and (min-width: 768px) {
  html {
    font-size: 80%;
  }

  /*  leaving room for menu icon */
  header.page-header {
    left: 56px;
  }
  main {
    margin-left: 56px;
  }

  /* ----------------------- */
  /*    menu   */

  .nav-bar {
    min-width: 240px;
    z-index: 1;
  }
  #open-menu-sm {
    display: none;
  } 
  #open-menu-lg {
    z-index: 24;
  } 
  .menu-icon-sm {
    height: 48px;
  }

  /*  ----------------------- */
  /*  Main body */
   h1 {
    font-size: 6rem;
  }

  .side-container {
    border-right: 1px solid var(--teal);
  }
  .side-container header {
    justify-content: flex-end;
  }
  .side-container .left-title {
    padding-right: 1.5rem;
    padding-left: 0rem;
  }
}

/* ----------------------- */
/*   desktop   */
@media screen and (min-width: 992px) {
  #aside-projects {
    border-right: 1px solid var(--teal);
  }
  #aside-projects header {
    justify-content: flex-end;
  }
  #aside-projects .left-title {
    padding-right: 1.5rem;
    padding-left: 0rem;
  }

  #aside-job header {
    justify-content: flex-end;
  }
  #aside-job .left-title {
    padding-right: 1.5rem;
    padding-left: 0rem;
  }
}

/* ----------------------- */
/*   Extra wide   */
@media screen and (min-width: 1200px) {
  html {
    font-size: 90%;
  }
}